@font-face {
    font-family: heading_font;
    src: url(font.ttf);
}

body, label, input, textarea, p, td, th, h2, li, th, td, .extras_button{/*font of everything*/
    font-family: Calibri, -apple-system;
}

body{
    text-align:center;
}

table{
	border-collapse:collapse; 
	width:74%; 
	margin-left:13%; 
    margin-top:10px;
    float:left;
}

h2{
    width:100%;
    clear:both;
	margin-bottom:2px;
	margin-top:2px;
}

textarea{
	height:139px;
	width:90%;
}

hr{
    margin-bottom:0;
	border:none;
    clear:both;
	height:1px;
	background-color:darkgray;
}

label {
    display: inline-block;
	padding-top:3px;
    vertical-align: top;
}

th{
	font-weight:bold; 
    font-size:20px;
}
	
td{
    word-wrap: break-word;
    font-size:20px;
}

a:link, a:visited{
    text-decoration: none;
    color:blue;
}

a:hover, a:active{
    text-decoration: underline;
}

.Title, .Date{
	font-family: 'heading_font';

    margin-top: 10px;
}

.Title{
    font-size:59px; 
    margin-bottom:10px
}
.Date{
    font-size:40px; 
}

[type="checkbox"], label{
	cursor: pointer;
}

.tag_list{
    text-align:left;
    list-style-type: none;
	padding-left:2px;
    width:12%; 
	float:right;
}

.tag_input{
	width:20px;
	height:20px;
    vertical-align: middle;
}

.hide{
    display:none;
}

.tag_input_list{
    list-style-type: none;
    width:90%;
}

.action_button{
	width:59px;
    padding:0px;
}

.login_form{
    float:left;
    position:apsolute;
    height:0px;
    margin:0px;
}

.action_form{
	margin-bottom:0px; 
	display:inline;
}

.notices{
	float:left;width:87%
}

#buttons{
    width: 200px;
    height:60px;
    display:block;
    min-width: 100px;
    margin-left:calc(50% - 100px);
}

#displayDates{
	width:50%;
	float:right;
}

#information{
    border-right-style:solid;
    border-width:1px;
    border-right-color: darkgrey;
	width:calc(50% - 1px);
	float:left;
}

#tags{
	width:50%;
	float:right;
}

#tag_text{
    width:90%;
    height:44px;
}

#date_text{
    padding-left:13%;
    width:74%;
    margin-right:0;
}

#help{
    width:40%
}

#help-heading{
    text-align: center;
    clear:both;
}

#title{width:180px}
#description{}
#teacher{width:145px;}
#action{width:123px;}
#arch-action{width:60px;}
#dates{width:120px}
td#dates{font-size:16px;}

@media only screen and (max-aspect-ratio: 1/1) {
	#title{width:140}
	#description{}
	#teacher{width:100px;}
	#action{width:65px;}
	#dates{display:none}
	
    h1 {
      padding-top:20px;
    }

    #information, #tags, #displayDates{
        width:100%;
    }
    #displayDates, #tags{
        border-top-style:solid;
        border-width:1px;
        border-top-color: darkgrey;
    }
    #information{
        border-width:0px;
    }

    
    table{
        width:96%; 
        margin-left:2%; 
        margin-right:2%; 
    }
	li{display:none;}
	.tagform{display:none;}
	.notices{width:100%}

}

@media only screen and (max-width: 565px) {
    #Date_Year {
      display:None;
    }
}

body{
	/*background-color:lavender;*/
	
	/*background-color:lemonchiffon;*/
	
	/*background-image: linear-gradient(lemonchiffon, khaki);*/
	
	/*background-image: linear-gradient(lightblue, khaki);*/
}
